@model LogEntry

@if (Model != null)
{
    <tr>
        @if (ViewBag.ShowLink)
        {
            <td>
                <a asp-route-id="@Model.ID">@Model.ID</a>
            </td>
        }
        else
        {
            <td>@Model.ID</td>
        }
        <td>@Model.Type</td>
        <td>@Model.CreatedAt</td>
        <td>@Model.IP</td>
        <td>@Model.Content</td>

        <form asp-controller="Log">
            @if (ViewBag.ShowLink)
            {
                <td>Edit Button</td>
            }
            <td>
                <button type="submit" formmethod="post" asp-action="Delete" asp-route-id="@Model.ID">Delete</button>
            </td>
        </form>
    </tr>
}