@model LogEntry

@if (Model != null)
{
    <tr>
        @if (ViewBag.ShowLink)
        {
            <td>
                <a asp-route-id="@Model.ID">@Model.ID</a>
            </td>
        }
        else
        {
            <td>@Model.ID</td>
        }
        <td>@Model.Type</td>
        <td>@Model.CreatedAt</td>
        <td>@Model.IP</td>
        <td>@Model.Content</td>
        @if (ViewBag.ShowLink)
        {
            <td>
                <form asp-controller="Log" method="get" asp-action="Index" asp-route-id="@Model.ID">
                    <button type="submit">Edit</button>
                </form>
            </td>
        }

        <td>
            <form asp-controller="Log" method="post" asp-action="Delete" asp-route-id="@Model.ID">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
}